
<div mat-dialog-title>
    <h1 style="font-weight: 500">Pokémon world in relation to the real world</h1>

</div>
<div style="display: flex; flex-direction: row; padding-top: 5px;">
    <div>
        The designs of nine of the major Pokémon regions—Kanto, Johto, Hoenn, Sinnoh/Hisui, Unova, Kalos, Alola, Galar,
        and
        Paldea—are strikingly similar in geography and demographics to regions in the real world, and they are sometimes
        even officially stated to be based on certain locations. The first four regions and the Hisui region are based
        on
        smaller regions in Japan, Unova and Alola are based on parts of the United States, Kalos is based on France,
        Galar
        is based on the United Kingdom, and Paldea is based on the Iberian Peninsula, consisting in the countries of
        Spain,
        Portugal and Andorra. It is said the inspiration for Orre is Phoenix, Arizona.
    </div>
    <div>
        <img src="/assets/realworld.png" style="width: 400px;">
    </div>
</div>