<div style="display: flex; flex-direction: column;height: 100%;">
	<div class="top-nav">
		<div>
			Pokémon <span style="color: #f1696d">Kanto </span><span style="color: #4c75b9">Johto</span> Map
		</div>
	</div>
	<div class="filters">
		<div>
			<mat-slide-toggle color="primary" [checked]="citiesToggle" (change)="citiesToggle = !citiesToggle">
				Cities・Towns
			</mat-slide-toggle>
			<span style="padding-right: 5px;"></span>
			<mat-slide-toggle color="primary" [checked]="placesToggle" (change)="placesToggle = !placesToggle">
				Landmarks
			</mat-slide-toggle>
		</div>
		<div style="display: flex; flex-direction: row; align-items: center; cursor: pointer;" (click)="openAbout()">
			<mat-icon color="primary" style="padding-right: 5px;">help</mat-icon> About
		</div>
	</div>
	<div class="viewer-container">
		<div class="viewer">
			<img src="/assets/landscape.png" alt="" style="width: 100%; position: absolute; top: 0;">
			<img src="/assets/roads.png" alt="" style="width: 100%; position: absolute; top: 0;">
			<img *ngIf="citiesToggle" src="/assets/cities.png" alt="" style="width: 100%; position: absolute; top: 0;">
			<img *ngIf="placesToggle" src="/assets/landmarks.png" alt=""
				style="width: 100%; position: absolute; top: 0;">
			<div *ngFor="let c of coordinates" [style.top.%]="c.top" [style.left.%]="c.left" [style.width.%]="c.width"
				[style.height.%]="c.height" class="place" (click)="getPlace(c)"></div>
		</div>
	</div>
	<div class="legend-container">
		<img src="/assets/legend.svg" style="height: 80px">
	</div>
	<div class="footer">
		<span style="font-weight: 600">Designed by:</span> Tsun Ming Yu<br>
		<span style="font-weight: 600; padding-top: 15px;">Reference:</span>
		<a href="https://bulbapedia.bulbagarden.net/">https://bulbapedia.bulbagarden.net/</a> <br>

	</div>
</div>