.top-nav {
    display: flex;
    flex-direction: row;
    min-height: 55px;
    height: 55px;
    border-bottom: solid 1px #e5e5e5;
    margin-bottom: 15px;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 600;
    padding: 0 15px;
    
}
.filters {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    padding: 0 125px;
}
.viewer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 30px;
    .viewer {
        position: relative;
        width: 90%;
        height: 0;
        padding-top: 36.7%;
        background-size: contain;
        background-repeat: no-repeat;
        .place {
            background-color: transparent;
            cursor: pointer;
            position: absolute;
        }
    }
    
}
.legend-container {
    padding: 0 125px;
}
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90px;
    min-height: 90px;
    border-top: solid 1px #e5e5e5;
    padding: 15px;
    margin-top: 100px;
    text-align: center;
    background-color: #ececec;
}
